/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', sans-serif;
  background-color: #f5f6fa;
}

/* HEADER */

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;

  background: #ffffff;
  border-bottom: 1px solid #e5e7eb;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0 20px;
  z-index: 1000;
}

/* LAYOUT */

.layout {
  display: flex;
  margin-top: 60px;
}

/* ASIDE */

.aside {
  width: 220px;
  height: calc(100vh - 60px);
  background: #111827;
  color: white;
  transition: width 0.3s ease;
  overflow: hidden;
}

.aside nav {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
}

.aside nav div {
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 14px 20px;
  text-decoration: none;
  color: white;
  font-size: 14px;
  transition: background 0.2s;
}

.aside nav div:hover {
  background: #1f2937;
  cursor: pointer;
}

/* Colapsado */

.aside.collapsed {
  width: 70px;
}

.aside.collapsed .text {
  display: none;
}

/* MAIN */

.main {
  flex: 1;
  padding: 25px;
}

/* ************************* */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.4);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  background: white;
  padding: 20px;
  border-radius: 8px;
  width: 300px;
}

.modal-actions {
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
}