<!DOCTYPE html>
<html lang="es">
<head>
    <link rel="stylesheet" href="/styles/backoffice.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi Backoffice | SSR</title>
    
</head>
<body>

    <body>
    <header>
        <button id="admin-btn">
            SOY ADMIN
        </button>
    </header>
    <main>
        <section class="welcome-section">
                <h2>¡Bienvenido!</h2>
                <input
                    type="mail"
                    id="mail-input"
                    class="user-input"
                    placeholder="Uuario"
                />
                <p id="mail-input-error">

                </p>

                <input
                    type="password"
                    id="password-input"
                    class="user-inputs"
                    placeholder="Contraseña"
                />
                <p id="password-input-error">

                </p>
                <button class="btn-ingresar" id="login-btn">
                    Ingresar
                </button>
                <button id="quick-access-btn">
                    quick access
                </button>
        </section>

    </main>
    <script type="module" src="/public/scripts/backoffice.js"></script>
</body>
</body>
</html>