<!DOCTYPE html>
<html lang="es">
<head>
    <link rel="stylesheet" href="/styles/backoffice.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi Backoffice | SSR</title>
    
</head>
<body>

    <body>
    <header>
        <button id="admin-btn">
            SOY ADMIN
        </button>
    </header>
    <main>
        <section class="welcome-section">
                <h2>¡Bienvenido!</h2>
                <input
                    type="text"
                    id="name-input"
                    class="name-input"
                    placeholder="Nombre"
                />
                <p id="name-input-error">

                </p>

                <input
                    type="text"
                    id="lastName-input"
                    class="client-inputs"
                    placeholder="Apellido"
                />
                <p id="lastName-input-error">

                </p>
                <button class="btn-ingresar" id="login-btn">
                    Ingresar
                </button>
                <button id="quick-access-btn">
                    quick access
                </button>
        </section>

    </main>
</body>
</body>
</html>