<!DOCTYPE html>
<html lang="es">
<head>
    <link rel="stylesheet" href="/styles/backoffice.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi Backoffice | SSR</title>
    
</head>
<body>

    <body>
    <header>
        <button id="admin-btn">
            SOY ADMIN
        </button>
    </header>
    <main>
        <section class="welcome-section">

            <!--
            
                <form action="/administrator/login" method="POST" novalidate>
    
                <input
                type="mail"
                id="mail-input"
                name="mail"
                class="user-input"
                placeholder="Usuario"
                required
                />
                <p id="mail-input-error"></p>

                <input
                type="password"
                id="password-input"
                name="pass"
                class="user-inputs"
                placeholder="Contraseña"
                required
                />
                <p id="password-input-error"></p>

                <button 
                type="submit"
                class="btn-ingresar"
                id="login-btn"
                >
                Ingresar
                </button>

            </form>
-->


                <form action="/api/administrator/login" method="POST" NOVALIDATE>
                    <h2>¡Bienvenido!</h2>
                    <input
                        type="email"
                        id="mail-input"
                        class="user-input"
                        name="mail"
                        placeholder="Usuario"
                    />
                    <p id="mail-input-error"></p>
    
                    <input
                        type="password"
                        id="password-input"
                        class="user-inputs"
                        name="pass"
                        placeholder="Contraseña"
                    />
                    <p id="password-input-error"></p>

                    <button type="submit" class="btn-ingresar" id="login-btn">
                        Ingresar
                    </button>

                    <button type="button" id="quick-access-btn">
                        quick access
                    </button>
                </form>
        </section>

    </main>
    <!-- la carpeta public se sirve como si fuera la raiz del proyecto por eso cambia la forma de servirle la ruta al ejs-->
    <script type="module" src="/scripts/backoffice.js"></script>
</body>
</body>
</html>