<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/home.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <!--CONCEPTO NUEVO-->
    <script defer type="module" src="/scripts/home.js"></script>
    <title>Backoffice - Home</title>
</head>
<body>
    
    <%- include('./partials/header') %>
    
    <div class="layout">
    <%- include('partials/aside') %>

    <main class="main">
      <h2 id="section-title" class="section-title">Home</h2>
      <div id="main-container" class="main-container">

      </div>
    </main>
  </div>
    
</body>
</html>