<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/home.css">
    <!--CONCEPTO NUEVO-->
    <script defer src="/scripts/home.js"></script>
    <title>Backoffice - Home</title>
</head>
<body>
    
    <%- include('./partials/header') %>
    
    <div class="layout">
    <%- include('partials/aside') %>

    <main class="main">
      <h2>Dashboard</h2>
      <p>Contenido principal acá</p>
    </main>
  </div>
    
</body>
</html>