<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tienda - Back office</title>
</head>

<body>
    <main>
      <section class="welcome-section">
        <h2>Login</h2>
        <input type="email" id="input-mail" placeholder="Mail" required />
        <input type="password" id="input-pass" placeholder="Clave" required />
        <button class="btn-ingresar" id="btn-ingresar">
          Iniciar sesión
          <span class="material-symbols-outlined">login</span>
        </button>
        <br />
        <button id="quick-access-btn">Acceso rápido</button>
        <p id="p-mensaje"></p>
      </section>
    </main>
  <script type="module" src="/public/scripts/login.js"></script>
</body>
</html>