<aside id="aside" class="aside">
  <nav>

    <div id="home-btn">
      <span class="icon">🏠</span>
      <span class="text">Dashboard</span>
    </div>

    <div id="marcas-btn">
      <span class="icon">🏷️</span>
      <span  class="text">Marcas</span>
    </div>

    <div id="products-btn">
        <span class="icon">📦</span>
        <span class="text">Productos</span>
    </div>

    <div>
      <span class="icon">📦</span>
      <span class="text">Categorías</span>
    </div>

    <div id="pedidos-btn">
      <span class="icon">📦</span>
      <span class="text">Pedidos</span>
    </div>
  </nav>
</aside>